<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-videoaddon" version="1.2.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>cordova-plugin-videoaddon</name>
	<js-module name="VideoPlayer" src="www/cordova-plugin-videoaddon.js">
		<clobbers target="VideoPlayer" />
	</js-module>
	<platform name="ios">
		<!-- Hooks -->
		<hook type="before_plugin_install" src="hooks/install_prerequisites.js"/>
		<hook type="after_plugin_add" src="hooks/add_swift_support.js" />

		<!-- iOS Source Files -->
		<source-file src="src/ios/VideoPlayer.swift" />
		<source-file src="src/ios/DeskercisesViewController.swift" />
		<source-file src="src/ios/MindfulnessViewController.swift" />
		<source-file src="src/ios/Subtitles.swift" />

		<!-- iOS Resource Files -->
		<resource-file src="src/ios/resources/backAndImg.png" />
		<resource-file src="src/ios/resources/chevron-left-solid.png" />
		<resource-file src="src/ios/resources/close_lighter.png" />
		<resource-file src="src/ios/resources/like_lighter.png" />
		<resource-file src="src/ios/resources/like_medium.png" />
		<resource-file src="src/ios/resources/likefilled_lighter.png" />
		<resource-file src="src/ios/resources/likefilled_medium.png" />
		<resource-file src="src/ios/resources/MPlayer_FWD_WithNum_2x.png" />
		<resource-file src="src/ios/resources/MPlayer_Pause_2x.png" />
		<resource-file src="src/ios/resources/MPlayer_Play_2x.png" />
		<resource-file src="src/ios/resources/MPlayer_RWD_WithNum_2x.png" />
		<resource-file src="src/ios/resources/personIcon.png" />
		<resource-file src="src/ios/resources/soundIcon.png" />
		<resource-file src="src/ios/resources/Biryani-Bold.ttf" />

		<!-- iOS Resource Files - LoadingGif -->
		<resource-file src="src/ios/resources/LoadingGif/Loader0.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader1.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader2.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader3.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader4.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader5.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader6.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader7.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader8.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader9.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader10.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader11.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader12.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader13.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader14.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader15.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader16.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader17.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader18.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader19.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader20.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader21.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader22.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader23.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader24.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader25.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader26.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader27.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader28.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader29.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader30.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader31.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader32.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader33.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader34.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader35.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader36.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader37.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader38.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader39.png" />
		<resource-file src="src/ios/resources/LoadingGif/Loader40.png" />

		<config-file parent="/*" target="config.xml">
			<feature name="VideoPlayer">
				<param name="ios-package" value="VideoPlayer" />
			</feature>
		</config-file>
		<config-file target="*-Info.plist" parent="UIAppFonts">
				<array>
					<string>Biryani-Bold.ttf</string>
				</array>
		</config-file>
	</platform>
</plugin>